# OSX
#
.DS_Store

# Xcode
#
*.code-workspace

# python
__pycache__


# App folders that are runtime
# From the transcripts folder, I am including all the audio
# samples, just not the transcripts themselves.  I'm doing
# this because I want to be able to recreate the speaker
# model but don't want to store the MASSIVE safe-tensor
# in git
trained-speakerbox/**
transcribe-monkey/**
transcripts/*.json
transcripts/*.json.*
transcripts/*.bak
transcripts/*.docx
transcripts/audio_samples/*
models/*
audio_out/
chunked-audio/
speakerbox/
*.json
~*.docx
hf_token.txt
